*.suo
*.sln.cache
_ReSharper*/
*.DotSettings
*.dotCover
*.user
*.InstallLog
*.gpState
*.swp
*.sln.metaproj*
*.log
out/
drop/
*.lastpatched
*.t4properties
*.docstates
.lastVersionNumber
*.vsprops
*_working/
*.dat
[Dd]ebug*/
[Bb]in*/
[Oo]bj/
[Ss]ql/
